<table cellpadding="0" cellspacing="2" border="0" width="100%" bgcolor="#2F5B8A" >
  <tr bgcolor="#2F5B8A">
    <td width="60%" align="left" bgcolor="#2F5B8A" style="padding-left:15px;" height="25"><a href="/"><img src="/assets/hopper_newlogo.png" border="0" height="22"></a></td>
    <td width="20%" align="center" style="border-right:3px solid #254977;border-left:3px solid #254977;"><a href="place-details.html"><img src="/assets/profile.png" border="0" height="22"></a></td>
    <td width="20%" align="center"><a href="place-details.html"><img src="/assets/search.png" border="0" height="22" ></a>							</td>
  </tr>
</table>
</td>
</tr>
<tr><td>
  <table cellpadding="0" cellspacing="0" border="0" bgcolor="#f6F5F3" id="header" width="100%">
    <tr bgcolor="#fbfbfb">
      <td align="left" width="15%"><img src="/assets/place-icon.png" style="padding-left:15px;"> &nbsp;&nbsp;</td>
      <td align="left" class="smallcoupontext" >You've checked into <span class="darkpinktext"><b><%= @place_name %>!</b></span></td>
    </tr>
    <tr>
      <td colspan="2" align="center" style="border-bottom:2px solid #e9e9e9;padding:5px;">
      </td>
    </tr>
    <tr>
      <td colspan="2"   align="center" >
        <table cellpadding="0" cellspacing="0" border="0" width="100%" >
          <tr>
            <td   align="center" width="30%"  bgcolor="#37618f" style="border-right:2px solid #ffffff;" ><img src="/assets/smile.png"></td>
            <td   align="center" width="30%"   bgcolor="#37618f"  style="border-right:2px solid #ffffff;" ><img src="/assets/star.png"></td>
            <td   align="center" width="30%"  bgcolor="#c8458c" ><img src="/assets/points.png"></td>
          </tr>
          <tr>
            <td   align="center"  bgcolor="#37618f" width="30%" style="border-right:2px solid #ffffff;" >&nbsp;</td>
            <td   align="center"  bgcolor="#37618f" width="30%" class="smallwhiteheadingfont" style="border-right:2px solid #ffffff;padding-bottom:10px;" >&nbsp;+<%= @response['points_earned'] %></td>
            <td   align="center" bgcolor="#c8458c" width="30%" class="smallwhiteheadingfont" style="padding-bottom:10px;">&nbsp;<%= @response['score'] %> pts</td>
          </tr>
          <tr>
            <td   align="center" class="smallcoupontext"  width="30%" style="padding-top:10px;padding-bottom:10px;">nice hop!</td>
            <td   align="center"   width="30%" class="smallcoupontext" style="padding-top:10px;padding-bottom:10px;">points</td>
            <td   align="center"  width="30%" class="smallcoupontext" style="padding-top:10px;padding-bottom:10px;">total</td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td colspan="2" align="center" style="border-bottom:2px solid #e9e9e9;padding:5px;">
      </td>
    </tr>
    <tr>
      <td align="right"><img src="/assets/r-tag-icon.png"></td>
      <td align="left" class="coupontext">Coupon</td>
    </tr>
    <tr>
      <td colspan="2" align="center" >&nbsp;
      </td>
    </tr>
    <tr>
      <td colspan="2" bgcolor="#f6f5f3" align="center">
        <table cellpadding="0" cellspacing="0" border="0" width="90%" >
          <tr>
            <td  width="15%" align="center" valign="absmiddel" style="border: 2px dotted #D63888;"  bgcolor="#ffffff" ><img src="/assets/pizza.png"></td>
            <td  width="2%" align="center" bgcolor="#ffffff">&nbsp;</td>
            <td  width="70%" align="left"  bgcolor="#ffffff" style="border: 2px dotted #D63888;padding:10px;" >
              <div class="smallcoupontext" style="padding:5px;">Your coupon code is:</div>
              <div class="pinktext" style="padding:5px;"><b>HRBGCOERGY765657</b></div>
              <div class="smallcoupontext" style="padding:5px;" align="absmiddel" valign="absmiddel"><img src="/assets/r-tag-icon.png">&nbsp;20% off on total bill</div>
              <div class="lightgraysmalltext" valign="bottom" style="padding-top:25px;padding-left:5px;">Expires: 29-Dec-2012</div>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>