<table cellpadding="0" cellspacing="0" border="0" bgcolor="#f6F5F3" id="header">

  <tr>
    <td align="right"><%= image_tag "place-icon.png" %> &nbsp;&nbsp;</td>
    <td align="left" class="coupontext">You've checked into <b>Pizza Hut!</b></td>
  </tr>

  <tr>
    <td colspan="2"   align="center" >
      <table cellpadding="0" cellspacing="0" border="0" width="100%" >
        <tr>
          <td   align="center" width="30%"  bgcolor="#1b417e" ><img src="assets/smile.png"></td>
          <td   align="center" width="5%" bgcolor="#1b417e"  ><img src="assets/mid.png"></td>
          <td   align="center" width="30%"   bgcolor="#1b417e"  ><img src="assets/star.png"></td>
          <td   align="left"  width="5%" bgcolor="#db1179" valign="bottom" ><%= image_tag "midpink.png" %></td>
          <td   align="center" width="30%"  bgcolor="#db1179" ><img src="assets/points.png"></td>


        </tr>
        <tr>
          <td   align="center"  bgcolor="#1b417e" width="30%">&nbsp;</td>
          <td   align="center" valign="top" width="5%" bgcolor="#1b417e"  ><img src="assets/l-mid.png"></td>
          <td   align="center"  bgcolor="#1b417e" width="30%" class="smallwhiteheadingfont" >&nbsp;+12900</td>
          <td   align="left" valign="top" width="5%" bgcolor="#db1179"  ><img src="assets/l-midpink.png"></td>
          <td   align="center" bgcolor="#db1179" width="30%" class="smallwhiteheadingfont">&nbsp;656,000 pts</td>


        </tr>
        <tr>
          <td   align="center" class="smallcoupontext"  width="30%" style="padding:10px;">&nbsp;nice hop!</td>
          <td   align="center" valign="top" width="5%"   >&nbsp;</td>
          <td   align="center"   width="30%" class="smallcoupontext" style="padding:10px;">&nbsp;points</td>
          <td   align="left" valign="top" width="5%"  >&nbsp;</td>
          <td   align="center"  width="30%" class="smallcoupontext" style="padding:10px;">&nbsp;total</td>


        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td colspan="2" align="center">
      &nbsp;
    </td>
  </tr>
  <tr>
    <td colspan="2" align="center" style="border-bottom:3px dotted #5b5b5b;">

    </td>
  </tr>
  <tr>
    <td colspan="2" align="center">
      &nbsp;
    </td>
  </tr>
  <tr>
    <td align="right"><img src="assets/r-tag-icon.png"></td>
    <td align="left" class="coupontext">Coupon</td>
  </tr>
  <tr>
    <td colspan="2" align="center">
      &nbsp;
    </td>
  </tr>
  <tr>
    <td colspan="2" bgcolor="#f6f5f3" align="center">
      <table cellpadding="0" cellspacing="0" border="0" width="90%" >
        <tr>
          <td  width="15%" align="center" valign="absmiddel" style="border-left: 2px solid #e03e90;border-top: 2px solid #e03e90;border-bottom: 2px solid #e03e90;"  bgcolor="#ffffff" ><img src="assets/pizza.png"></td>
          <td   align="left" width="5%" bgcolor="#ffffff"  style="border-top: 2px solid #fadeec;border-bottom: 2px solid #fadeec;" ><img src="assets/mid-crop.png"></td>
          <td  width="70%" align="left"  bgcolor="#ffffff" style="border-right: 2px solid #fadeec;border-top: 2px solid #fadeec;border-bottom: 2px solid #fadeec;" >
            <div class="smallcoupontext" style="padding:5px;">Your coupon code is:</div>
            <div class="pinktext" style="padding:5px;"><b>HRBGCOERGY765657</b></div>
            <div class="smallcoupontext" style="padding:5px;" align="absmiddel" valign="absmiddel"><img src="assets/r-tag-icon.png">&nbsp;20% off on total bill</div>


            <div class="lightgraysmalltext" valign="bottom" style="padding-top:25px;padding-left:5px;">Expires: 29-Dec-2012</div>
          </td>

        </tr>
      </table>
    </td>
  </tr>
</table>
